<?xml version="1.0" encoding="UTF-8"?>

    <manifest package="br.com.dio.todolist" xmlns:android="http://schemas.android.com/apk/res/android">


    <application
        android:theme="@style/Theme.ToDoList"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true">


    <activity android:name="com.wigo.to_dolist.ui.MainActivity"
        android:exported="true">


    <intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

    <activity android:name="com.wigo.to_dolist.ui.AddTaskActivity"/>

</application>

</manifest>